@model FieldVm

<form>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Name:</label>
        <input type="text" class="form-control" id="recipient-name">
    </div>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">Description:</label>
        <textarea class="form-control" id="message-text"></textarea>
    </div>
</form>

@section Scripts{

}

